:root{
--adsk-black:#000000;
--adsk-white:#ffffff;
--hello-yellow:#ffff00;
--hello-yellow-200:#fdfda1;
--hello-yellow-600:#eee410;
--hello-yellow-700:#d7cb1d;
--warm-slate:#d5d5cb;
--warm-slate-100:#f5f5f0;
--warm-slate-300:#e4e4db;
--slate:#666666;
--slate-100:#e8e8e8;
--slate-200:#c9c9c9;
--slate-300:#a3a3a3;
--slate-400:#858585;
--dawn:#f09d4f;
--dawn-100:#ffe9c5;
--dawn-300:#fec681;
--dawn-600:#e68d3a;
--dawn-700:#cd7523;
--dusk:#f2520a;
--dusk-100:#ffddcd;
--dusk-300:#ff9667;
--dusk-600:#de4f0d;
--dusk-700:#d34621;
--twilight:#1d91d0;
--twilight-100:#bfe4f7;
--twilight-300:#4eb3e9;
--twilight-600:#1278af;
--twilight-700:#136b9a;
--morning:#2ad0a9;
--morning-100:#d5f6ee;
--morning-300:#7be4cc;
--morning-600:#24b291;
--morning-700:#21a183;
--surface-default:var(--adsk-white);
--surface-inverse:var(--adsk-black);
--surface-muted:var(--warm-slate-100);
--surface-panel-light:var(--warm-slate-100);
--surface-panel-dark:var(--adsk-black);
--text-primary-on-light:var(--adsk-black);
--text-primary-on-dark:var(--adsk-white);
--text-secondary:var(--slate);
--text-payoff:var(--hello-yellow);
--border-default:var(--slate-200);
--border-strong:var(--adsk-black);
--focus-ring:var(--twilight)
}
